/.idea
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
Thumbs.db

**/target/
backend/target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

**/node_modules/
frontend/node_modules/
**/dist/
frontend/dist/
dist-ssr/
*.local
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

logs/
*.log